META_ACCESS_TOKEN=replace_with_read_only_token
META_GRAPH_VERSION=v25.0
META_AD_ACCOUNT_ID=act_000000000000000
META_ADSET_ID=000000000000000000
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/replace/me
